:root {
  --background-color: #004643;
  --headline-color: #ffffff;
  --paragraph-color: #abd1c6;
  --button-color: #f9bc60;
  --button-text-color: #001e1d;
  --stroke-color: #001e1d;
  --main-color: #e8e4e6;
  --highlight-color: #f9bc60;
  --secondary-color: #abd1c6;
  --tertiary-color: #e16162;
}

* {
  margin: 0;
  padding: 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  font-weight: bold;
}

body {
  padding:250px;
  background-color: var(--background-color);
  color: var(--paragraph-color);
  display: flex;
  justify-content: center; /* Centers content horizontally */
  align-items: center; /* Centers content vertically */
  min-height: 100vh;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  min-height: 100vh;
}

form {
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  text-align: center;
  color: var(--paragraph-color);
  font-size: 18px;
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.input-wrapper input {
  width: 100%;
  padding: 10px 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding-right: 40px; /* Space for the icon */
}

.input-wrapper .icon {
  position: absolute;
  right: 10px;
  font-size: 20px;
  color: var(--paragraph-color);
  cursor: pointer;
}

button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: var(--button-text-color);
  background-color: var(--button-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: var(--stroke-color);
  color: var(--tertiary-color);
}
